<title>NodePi</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="Prithwiraj Bose <sribasu@gmail.com>">
<meta name="theme-color" content="#54002f">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
<link href="/pages/css/bootstrap.min.css" rel="stylesheet">
<link href="/pages/css/bootstrap-icons.min.css" rel="stylesheet">
<link href="/pages/css/style.css" rel="stylesheet">