<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">NodePi</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            System
          </a>
                    <ul class="dropdown-menu navbar-dark bg-dark" aria-labelledby="navbarDropdown">
                        <a class="nav-link navbar-dark bg-dark" href="/pages/startupmanager">Startup Manager</a>
                        <a class="nav-link navbar-dark bg-dark" href="/pages/filemanager">File Manager</a>
                    </ul>
                </li>
            </ul>
            <div class="d-flex text-white">Welcome&nbsp;<b>{{ctx.user.userId}}</b></div>
        </div>
    </div>
</nav>